smart agriculture flow.json
{\rtf1\ansi\deff3\adeflang1025
{\fonttbl{\f0\froman\fprq2\fcharset0 Times New Roman;}{\f1\froman\fprq2\fcharset2 Symbol;}{\f2\fswiss\fprq2\fcharset0 Arial;}{\f3\froman\fprq2\fcharset0 Liberation Serif{\*\falt Times New Roman};}{\f4\froman\fprq2\fcharset0 Calibri;}{\f5\fswiss\fprq2\fcharset0 Liberation Sans{\*\falt Arial};}{\f6\fnil\fprq2\fcharset0 Microsoft YaHei;}{\f7\fswiss\fprq0\fcharset128 Arial;}{\f8\fnil\fprq2\fcharset0 Arial;}}
{\colortbl;\red0\green0\blue0;\red0\green0\blue255;\red0\green255\blue255;\red0\green255\blue0;\red255\green0\blue255;\red255\green0\blue0;\red255\green255\blue0;\red255\green255\blue255;\red0\green0\blue128;\red0\green128\blue128;\red0\green128\blue0;\red128\green0\blue128;\red128\green0\blue0;\red128\green128\blue0;\red128\green128\blue128;\red192\green192\blue192;}
{\stylesheet{\s0\snext0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1 Normal;}
{\*\cs15\snext15\langfe255\alang255\cf9\lang255\ul\ulc0 Hyperlink;}
{\s16\sbasedon0\snext17\dbch\af6\dbch\af8\afs28\sb240\sa120\keepn\loch\f5\fs28 Heading;}
{\s17\sbasedon0\snext17\sl276\slmult1\sb0\sa140 Text Body;}
{\s18\sbasedon17\snext18\dbch\af7\sl276\slmult1\sb0\sa140 List;}
{\s19\sbasedon0\snext19\dbch\af7\afs24\ai\sb120\sa120\noline\fs24\i Caption;}
{\s20\sbasedon0\snext20\dbch\af7\noline Index;}
}{\*\generator LibreOffice/7.0.2.2$Windows_X86_64 LibreOffice_project/8349ace3c3162073abd90d81fd06dcfb6b36b994}{\info{\creatim\yr0\mo0\dy0\hr0\min0}{\revtim\yr0\mo0\dy0\hr0\min0}{\printim\yr0\mo0\dy0\hr0\min0}}{\*\userprops}\deftab720
\hyphauto1\viewscale90
{\*\pgdsctbl
{\pgdsc0\pgdscuse451\pgwsxn12240\pghsxn15840\marglsxn1440\margrsxn1440\margtsxn1440\margbsxn1440\pgdscnxt0 Default Page Style;}}
\formshade{\*\pgdscno0}\paperh15840\paperw12240\margl1440\margr1440\margt1440\margb1440\sectd\sbknone\pgndec\sftnnar\saftnnrlc\sectunlocked1\pgwsxn12240\pghsxn15840\marglsxn1440\margrsxn1440\margtsxn1440\margbsxn1440\ftnbj\ftnstart1\ftnrstcont\ftnnar\aenddoc\aftnrstcont\aftnstart1\aftnnrlc
{\*\ftnsep\chftnsep}\pgndec\pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
[\{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "6a097760.653918",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "tab",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"label": "IBMIOT(smart Agriculture)",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"disabled": false,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"info": ""}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "4fdd8d20.76a9b4",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "ibmiot in",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "6a097760.653918",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"authentication": "apiKey",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"apiKey": "233183d6.16ba7c",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"inputType": "evt",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"logicalInterface": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"ruleId": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"deviceId": "12345",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"applicationId": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"deviceType": "NODEMCU1",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"eventType": "+",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"commandType": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"format": "json",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "IBM IoT",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"service": "registered",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"allDevices": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"allApplications": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"allDeviceTypes": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"allLogicalInterfaces": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"allEvents": true,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"allCommands": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"allFormats": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"qos": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"x": 130,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"y": 440,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"wires": [}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
["8d0c40d3.848cd", "6aa78b4a.da3eb4", "5642999c.ed7868", "c396573b.e8d738"]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "c396573b.e8d738",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "debug",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "6a097760.653918",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"active": false,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"tosidebar": true,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"console": false,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"tostatus": false,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"complete": "payload",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"targetType": "msg",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"x": 770,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"y": 360,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"wires": []}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "8a49f2d5.e9d07",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "ui_gauge",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "6a097760.653918",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"group": "28e6141.0c047ec",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"order": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"width": "6",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"height": "4",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"gtype": "gage",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"title": "Humidity",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"label": "%Percentage",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"format": "\{\{value\}\}",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"min": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"max": "100",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"colors": ["#00b500", "#e6e600", "#ca3838"],}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"seg1": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"seg2": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"x": 800,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"y": 540,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"wires": []}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "9e820fb2.1ded5",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "ui_gauge",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "6a097760.653918",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"group": "28e6141.0c047ec",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"order": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"width": "6",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"height": "4",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"gtype": "gage",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"title": "Temperature",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"label": "\u176\'b0C Celcius",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"format": "\{\{value\}\}",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"min": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"max": "100",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"colors": ["#00b500", "#e6e600", "#ca3838"],}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"seg1": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"seg2": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"x": 770,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"y": 660,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"wires": []}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "6aa78b4a.da3eb4",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "function",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "6a097760.653918",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "Temperature",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"func": "msg.payload=msg.payload.d.temperature;\\nreturn msg;",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"outputs": 1,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"noerr": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"x": 410,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"y": 560,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"wires": [}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
["c396573b.e8d738", "9e820fb2.1ded5", "687d6f13.98f7c"]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "8d0c40d3.848cd",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "function",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "6a097760.653918",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "Humidity",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"func": "msg.payload=msg.payload.d.humidity;\\nreturn msg;",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"outputs": 1,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"noerr": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"x": 420,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"y": 500,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"wires": [}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
["c396573b.e8d738", "8a49f2d5.e9d07", "a4f00796.520788"]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "5642999c.ed7868",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "function",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "6a097760.653918",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "SoilMoisture",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"func": "msg.payload=msg.payload.d.objectTemp;\\nreturn msg;",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"outputs": 1,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"noerr": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"x": 430,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"y": 440,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"wires": [}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
["c396573b.e8d738", "dad1ab68.86f798", "9888ac53.4a285"]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "dad1ab68.86f798",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "ui_gauge",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "6a097760.653918",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"group": "28e6141.0c047ec",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"order": 2,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"width": "6",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"height": "4",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"gtype": "gage",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"title": "Soil Moisture",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"label": "% Percentage",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"format": "\{\{value\}\}",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"min": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"max": "100",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"colors": ["#00b500", "#e6e600", "#ca3838"],}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"seg1": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"seg2": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"x": 810,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"y": 420,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"wires": []}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "9de2a117.06e1d",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "http request",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "6a097760.653918",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"method": "GET",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"ret": "obj",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"paytoqs": false,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"url": "}{{\field{\*\fldinst HYPERLINK "http://api.openweathermap.org/data/2.5/weather?q=Ponda,IN&appid=c17ea99bbf41216723c2071ce90c3633" }{\fldrslt {\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
http://api.openweathermap.org/data/2.5/weather?q=Ponda,IN&appid=c17ea99bbf41216723c2071ce90c3633}{}}}\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"tls": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"persist": false,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"proxy": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"authType": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"x": 510,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"y": 240,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"wires": [}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
["c396573b.e8d738", "91b4e81a.972888", "4bcf3c9.21fd4c4", "2c496973.5626d6", "3552343c.1a23ac"]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "cbdf50d7.8bd57",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "inject",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "6a097760.653918",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"topic": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"payload": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"payloadType": "date",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"repeat": "5",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"crontab": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"once": true,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"onceDelay": "5",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"x": 150,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"y": 300,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"wires": [}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
["9de2a117.06e1d"]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "f8fb8426.88b758",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "ibmiot out",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "6a097760.653918",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"authentication": "apiKey",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"apiKey": "233183d6.16ba7c",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"outputType": "cmd",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"deviceId": "12345",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"deviceType": "NODEMCU1",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"eventCommandType": "command",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"format": "json",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"data": "Data",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"qos": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "IBM IoT",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"service": "registered",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"x": 560,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"y": 100,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"wires": []}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "2deb666d.10728a",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "ui_button",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "6a097760.653918",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"group": "d251626d.10cec",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"order": 2,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"width": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"height": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"passthru": false,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"label": "Motor on",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"tooltip": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"color": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"bgcolor": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"icon": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"payload": "\{\\"command\\":\\"motoron\\"\}",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"payloadType": "json",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"topic": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"x": 160,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"y": 60,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"wires": [}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
["f8fb8426.88b758", "c396573b.e8d738"]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "154a1e0e.e80672",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "ui_button",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "6a097760.653918",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"group": "d251626d.10cec",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"order": 3,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"width": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"height": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"passthru": false,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"label": "Motoroff",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"tooltip": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"color": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"bgcolor": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"icon": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"payload": "\{\\"command\\":\\"motoroff\\"\}",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"payloadType": "json",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"topic": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"x": 160,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"y": 160,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"wires": [}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
["f8fb8426.88b758", "c396573b.e8d738"]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "6329ceb0.9a74",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "ui_text",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "6a097760.653918",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"group": "a9434212.30379",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"order": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"width": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"height": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"label": "Temperature",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"format": "\{\{msg.payload\}\}",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"layout": "row-spread",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"x": 970,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"y": 140,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"wires": []}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "5d4cb33b.861edc",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "ui_text",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "6a097760.653918",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"group": "a9434212.30379",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"order": 1,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"width": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"height": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"label": "Humidity",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"format": "\{\{msg.payload\}\}",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"layout": "row-spread",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"x": 980,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"y": 200,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"wires": []}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "d85fe3cc.9ca31",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "ui_text",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "6a097760.653918",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"group": "a9434212.30379",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"order": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"width": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"height": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"label": "Region",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"format": "\{\{msg.payload\}\}",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"layout": "row-spread",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"x": 980,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"y": 260,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"wires": []}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "e00de3f6.29978",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "ui_text",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "6a097760.653918",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"group": "a9434212.30379",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"order": 3,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"width": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"height": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"label": "Weather Description",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"format": "\{\{msg.payload\}\}",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"layout": "row-spread",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"x": 1020,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"y": 320,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"wires": []}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "9888ac53.4a285",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "ui_chart",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "6a097760.653918",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"group": "309c8230.4f9bde",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"order": 3,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"width": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"height": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"label": "Soil moisture",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"chartType": "line",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"legend": "false",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"xformat": "HH:mm:ss",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"interpolate": "linear",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"nodata": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"dot": false,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"ymin": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"ymax": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"removeOlder": 1,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"removeOlderPoints": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"removeOlderUnit": "3600",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"cutout": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"useOneColor": false,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"useUTC": false,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"useOldStyle": false,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"outputs": 1,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"x": 820,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"y": 460,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"wires": [}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
[]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "a4f00796.520788",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "ui_chart",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "6a097760.653918",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"group": "309c8230.4f9bde",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"order": 4,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"width": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"height": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"label": "Humidity",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"chartType": "line",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"legend": "false",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"xformat": "HH:mm:ss",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"interpolate": "linear",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"nodata": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"dot": false,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"ymin": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"ymax": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"removeOlder": 1,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"removeOlderPoints": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"removeOlderUnit": "3600",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"cutout": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"useOneColor": false,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"useUTC": false,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"useOldStyle": false,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"outputs": 1,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"x": 800,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"y": 580,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"wires": [}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
[]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "687d6f13.98f7c",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "ui_chart",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "6a097760.653918",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"group": "309c8230.4f9bde",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"order": 5,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"width": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"height": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"label": "Temperature",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"chartType": "line",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"legend": "false",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"xformat": "HH:mm:ss",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"interpolate": "linear",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"nodata": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"dot": false,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"ymin": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"ymax": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"removeOlder": 1,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"removeOlderPoints": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"removeOlderUnit": "3600",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"cutout": 0,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"useOneColor": false,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"useUTC": false,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"useOldStyle": false,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"outputs": 1,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"x": 810,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"y": 700,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"wires": [}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
[]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "91b4e81a.972888",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "change",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "6a097760.653918",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "Temperature",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"rules": [\{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"t": "set",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"p": "payload",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"pt": "msg",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"to": "payload.main.temp",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"tot": "msg"}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}],}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"action": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"property": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"from": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"to": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"reg": false,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"x": 750,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"y": 120,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"wires": [}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
["6329ceb0.9a74"]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "4bcf3c9.21fd4c4",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "change",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "6a097760.653918",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "Humidity",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"rules": [\{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"t": "set",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"p": "payload",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"pt": "msg",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"to": "payload.main.humidity",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"tot": "msg"}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}],}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"action": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"property": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"from": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"to": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"reg": false,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"x": 740,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"y": 180,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"wires": [}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
["5d4cb33b.861edc"]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "2c496973.5626d6",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "change",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "6a097760.653918",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "Region",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"rules": [\{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"t": "set",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"p": "payload",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"pt": "msg",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"to": "payload.name",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"tot": "msg"}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}],}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"action": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"property": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"from": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"to": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"reg": false,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"x": 740,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"y": 240,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"wires": [}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
["d85fe3cc.9ca31"]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "3552343c.1a23ac",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "change",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "6a097760.653918",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "Weather Description",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"rules": [\{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"t": "set",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"p": "payload",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"pt": "msg",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"to": "payload.weather.0.description",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"tot": "msg"}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}],}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"action": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"property": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"from": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"to": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"reg": false,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"x": 780,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"y": 300,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"wires": [}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
        }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
["e00de3f6.29978"]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "233183d6.16ba7c",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "ibmiot",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"keepalive": "60",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"serverName": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"cleansession": true,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"appId": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"shared": false}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "28e6141.0c047ec",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "ui_group",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "Smart Agriculture",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"tab": "d669ffca.1402d",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"order": 6,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"disp": true,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"width": "6",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"collapse": false}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "d251626d.10cec",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "ui_group",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "Motor Commands",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"tab": "d669ffca.1402d",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"order": 1,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"disp": true,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"width": "6",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"collapse": false}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "a9434212.30379",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "ui_group",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "Weather Forecast",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"tab": "d669ffca.1402d",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"order": 3,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"disp": true,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"width": "6",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"collapse": false}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "309c8230.4f9bde",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "ui_group",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "Graphical Representation",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"tab": "d669ffca.1402d",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"order": 5,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"disp": true,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"width": "6",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"collapse": false}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}, \{}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"id": "d669ffca.1402d",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"type": "ui_tab",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"z": "",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"name": "Smart Agriculture",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"icon": "dashboard",}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"disabled": false,}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4
    }{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
"hidden": false}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\}]}
\par \pard\plain \s0\hich\af3\dbch\af9\langfe2052\dbch\af8\afs24\alang1081\nowidctlpar\hyphpar0\ltrpar\cf0\loch\f3\fs24\lang1033\kerning1\sl276\slmult1\ql\sb0\sa200\ltrpar{\rtlch\hich\af4 \ltrch\fs22\lang9\loch\f4\loch
\u169\'a9 2021 GitHub, Inc.}
\par }